@media (device-aspect-ratio: 2 / 3) {
  .cat-title {
    font-size: 14px; } }

@media (min-width: 320px) and (min-height: 481px) and (max-width: 411px) {
  .cat-title {
    font-size: 18px; } }

@media (min-width: 412px) {
  .cat-title {
    font-size: 20px; } }

@media (device-aspect-ratio: 2 / 3) {
  .cat-img {
    height: 140px;
    width: 140px; } }

@media (min-width: 320px) and (min-height: 481px) and (max-width: 411px) {
  .cat-img {
    height: 180px;
    width: 180px; } }

@media (min-width: 412px) {
  .cat-img {
    height: 240px;
    width: 240px; } }
